.work__box {
	position: relative;
}
.work__box--right {
	margin-right: auto;
}
.work__box:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../img/porte_prez.svg);
	background-repeat:no-repeat;
	background-size: cover;
}

.content--personnal {
	padding-left: 3em;
}
.cases {
	padding-bottom: 3em;
}
.slide {
	padding-top: 3em;
	padding-bottom: 3em;
}
.cases__content {
	padding-top: 1em;
	padding-bottom: 1em;
	align-self:center;
}
.cases__content--border {
	position: relative;
}
.cases__content--border::before {
	content: "";
	position: absolute;
	width: 1.7rem;
	height: 1.7rem;
	top: -1em;
    left: -1em;
	background: transparent;
	border-top: 2px solid #ff5722;
	border-left: 2px solid #ff5722;
}
.cases__content--border::after {
	content: "";
	position: absolute;
	width: 1.7rem;
	height: 1.7rem;
	bottom: -1em;
    right: -1em;
	background: transparent;
	border-bottom: 2px solid #ff5722;
	border-right: 2px solid #ff5722;
}

.cases__p {
	position: relative;
	width: 100%;
	padding-left: 4em;
}
.cases__p::before {
	position: absolute;
		content: "";
		top:0;
		bottom: 0;
		left:0;
		width: 1px;
		background: linear-gradient(135deg,#fcfcfc 0%,#ff5722 100%);
}
.cases__txt {
	align-self:center;
}
/*
.cases__p::after {
	content: "";
	position: absolute;
	width: 1.7rem;
	height: 1.7rem;
	left: -.85rem;
	bottom: 0;
	border-radius: 50%;
	background: #ff5722;
}
*/
/*    RETROPROJECTEUR    */
.grid__item--canvas {
	display: flex;
	align-self:flex-start;
	margin-top: 2em;
}
.canvas {
	background: #fcfcfc;
	position: relative;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: 10px solid #1e2022;
}
.canvas--child {
	margin-top: 3.5em;
}
.canvas::before {
	content: "";
	position: absolute;
    bottom: -3rem;
    left: 50%;
    transform:translateX(-50%);
    width: .5rem;
    height: 2.5rem;
    background: #1e2022;
}
.canvas::after {
	content: "";
	position: absolute;
	width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 5px solid #1e2022;
    left: 50%;
    transform:translateX(-50%);
    bottom: -6rem;
}
.canvas__legend {
	position: absolute;
	font-size: 2.1rem;
	left: 50%;
	top:-3em;
	-webkit-transform: translate(-50%);
    transform: translate(-50%);
    white-space: nowrap;
}
.cases__company {
	 align-self:center;
	padding: 2em;
	background: rgba(0, 0, 0, .7);
}

@media (max-width: 72.9375em) {
	.cases {
		padding: 2em 1em;
	}
	.cases__intro {
		padding-right: 1em;
		text-align: left;
	}
 	.canvas {
 		align-self:center;
 	}
 	 .canvas:before, .canvas:after {
    	display: none;
    }
    .slide {
    	padding-top: 1em;
    	padding-bottom: 1em;
    }
     .cases__content--border:before, .cases__content--border::after {
    	display: none;
    }

}
@media (max-width: 48em) {
	.cases__intro {
		margin-bottom:2em;
	}
	.cases__p {
		margin: 0 auto;
		width: 100%;
		padding-left: 2em;
	}
	.canvas__legend {
		top: -2em;
	}
    .workdetail__screen {
    	margin: 1em 1em;
    }
    .cases__content {
    	padding-left: 2em;
    }


}
@media (min-width: 40.0625em) and (max-width: 48em) {

}
@media (max-width: 40em) {
	.cases {
		flex-direction:column;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.cases__intro {
		text-align: center;
	}

    .canvas {
		margin: 4.2rem 2.1rem;
	}
	.canvas--product {
		margin: 2.1rem 0;
	}
    .content--personnal {
    	padding-left: 0;
    	padding-top: 1em;
    }

}
@media (max-width: 30em) {

}
@media (max-width: 20em) {

}
