.list__task {
	list-style-type:square;
	padding-left: 2.5em;
	width: 90%;
    margin-top: 2em;
}
.task {
	font-size: 1.4rem;
	margin-bottom: 4.2rem;
}
.workdetail {
	position: relative;
}
.workdetail__img {
	width: 100%;
}


.workdetail__screen {
	box-shadow: 0 0 0 1px #c9d6df;
	position: relative;
	z-index: 1;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-bottom: 1em;
}
.workdetail__screen:before {
	content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    box-shadow: none;
    background: #ff5722;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
	-webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.workdetail__screen:hover::before {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;
}
.workdetail__screen:hover .workdetail__legend {
	opacity: 1;
	z-index: 12;
}
.workdetail__legend {
	position: absolute;
	left: 0;
	right: 0;
	top: 25%;
	color: #fcfcfc;
	opacity: 0;
	text-align: center;
	-webkit-transition: all .2s ease-in-out;
	transition:all .2s  ease-in-out;
}
.workdetail__legend:before {
	display: block;
    margin-bottom: 1rem;
    width: 60px;
    height: 60px;
    background:rgba(255,255,255,.3);
    border-radius: 50%;
    line-height: 1.8;
    color: #fff;
    margin: auto;

}

.next {
	overflow: hidden;
	margin-left: -1em;
	list-style-type: none;
}
.next__item {
	float: left;
	margin-right: 1em;
}

.nextproject {
	color: #fcfcfc;
	text-decoration: none;
}


.contact {
	text-align: right;
}
.destination {
	margin-top: calc(-2em);
	padding-top: calc(2em);
}


@media (max-width: 72.9375em) {

}
@media (max-width: 48em) {
	.list__task {
		width: 100%;
	}
}
@media (min-width: 40.0625em) and (max-width: 48em) {

}
@media (max-width: 40em) {
	.contact {
		text-align: center;
	}
	.workdetail__legend {
		top:20%;
	}
}
@media (max-width: 30em) {

}
@media (max-width: 20em) {

}

